---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>https://giuseppe.dev/</loc></url>
  <url><loc>https://giuseppe.dev/about/</loc></url>
  <url><loc>https://giuseppe.dev/reach-out/</loc></url>
  {% for post in collections.posts %}
  <url><loc>https://giuseppe.dev{{ post.url }}</loc></url>
  {% endfor %}
</urlset>
